body {
  height: 5000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.bg-orangered {
  background-color: orangered;
}
.bg-teal {
  background-color: teal;
}
.bg-bisque {
  background-color: bisque;
}
.bg-bluev {
  background-color: blueviolet;
}

/* Desktop first design */

#top {
  margin-top: 50px;
}

#top .inner {
  width: 23%;
  height: 150px;
  color: white;
  text-align: center;
  padding: 25px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

/* tablet portrait, phone landcape */
@media only screen and (max-width: 768px) {
  .container {
    width: 85%;
  }
  #top .inner {
    text-align: left;
    width: 45%;
    margin-bottom: 30px;
  }
}

/* phone landscpae */
@media only screen and (max-width: 480px) {
  .container {
    width: 95%;
  }
  #top .inner {
    width: 90%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 320px) {
}
